/* * Style de cuerpo principal */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ? Color de fondo de todo el cuerpo de la página */
body {
  background-image: linear-gradient(to right, #43e97b 0%, #4644eede 100%);
}

/* ? Definimos los valores por defecto de los textos HTML */
p,
h3 {
  color: rgb(7, 68, 68);
  font-family: "mononoki", "Fira Code", monospace, Verdana, Geneva, Tahoma,
    sans-serif;
  font-size: 15px;
}

h1 {
  padding-top: 15px;
  font-family: "Signika Negative", sans-serif, "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  font-size: 2.1em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* * Botón De Contácto Para el WhatsApp */

/* ? Logo */
#logoWsp {
  width: 64px;
  border-radius: 32px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}


/* * Botón Que Mostrará Las Cosas Que Hay en el Carrito */

/* ? Redimensionando Aspectos del Botón*/
.btn-success {
  margin: 30px auto auto auto;
  padding: 10px 10px 10px 25px;
  position: fixed;
  left: -5px;
  border-color: transparent;
}

/* ? Texto de los botones */
.texto-boton {
  font-family: "mononoki", "Fira Code", monospace, 'Courier New', Courier, sans-serif;
}


/* * Lineas Decorativas de la Página */

/* ? Linea del encabezado */
.lineInicio {
  width: 100%;
  max-width: 1600px;
  margin: 60px auto 60px auto;
  height: 2.5px;
  background: white;
  margin-bottom: 20px;
}

/* ? Linea Para Separar Los Producots 3x3 Del Catálogo */
.separador-linea {
  width: 100%;
  max-width: 1200px;
  margin: -20 auto;
  height: 2.5px;
  background: #ffffff;
  margin-bottom: 10px;
}

/* ? Linea Final Para dar Paso Al Footer */
.lineFin {
  width: 100%;
  max-width: 1800px;
  margin: -20 auto;
  height: 2.5px;
  background: #ffffff;
  margin-bottom: 10px;
}

/* ? Linea Que Aparece después del Logo del Footer Para Dar Paso A Los Créditos del Creador */
.lineCreditos {
  width: 25%;
  max-width: 1200px;
  margin: -20 auto;
  height: 2.5px;
  background: #432c39;
  margin-bottom: 20px;
}

/* * Encabezado */
#encabezado {
  text-align: center;
  color: rgb(227, 252, 0);
  text-align: center;
}

/* * Estilos de la parte del catálOgo (mitad de la página)*/

/* ? Color de Fondo Que De La Sección del Catálogo*/
.section-catalogo {
  background-image: linear-gradient(to right, #8ceead 0%, #9999bede 100%);
}

/* ? Borde De Los Productos */
#productos-catalogo {
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 50px;
}

/* ? Texto Del Nombre de los Productos*/
#catalogo {
  color: rgb(227, 252, 0);
  text-align: center;
  padding-top: 30px;
}

/* ? Texto Especifica */
.texto-especfica {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-align: center;
}

/* ? Especificación de cada producto */
.especificaciones {
  text-align: justify;

}

/* ? Lista de Especificaciones de Los Productos */
.lista {
  margin: 30px auto 30px 20px;
}

/* Parte del Descuento */
.dsct {
  color: #432c3957;
  text-align: center;
}

.dsct span {
  color: #432c39;
}

.dsct em {
  text-decoration: line-through;
}

/* ? Parte del Precio */
.precio {
  text-align: center;
}

/* ? Parte de los botones que redireccionan a la página oficial de los productos */

.button-vermas {
  text-align: center;
}

.button-vermas button {
  background-color: #432c39;
}

.button-vermas button a {
  margin: 50px;
  color: #43e97b;
  font-family: "mononoki", "Fira Code", monospace, "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  font-size: 23px;
}

/* ? Parte del carrito */
.carrito-add {
  color: #432c39;
  height: 230px;
  font-size: 50px;
}

.text-carrito {
  color: #ffffff;
}


/* * Estilos del footer (Pié De Página) */

/* ? Texto que aparece para entrar a la página */
.entra-form {
  font-family: "mononoki", "Fira Code", monospace, "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif, "Times New Roman", Times, serif;
  display: flex;
}

.entra-form #formu {
  margin-left: 25px;
  margin-top: 25px;
  font-size: 19px;
  color: #56e987;
}

/* ? Derechos Reservados */
.derechos {
  margin-left: 60px;
  margin-top: 25px;
  margin-right: 25px;
  color: white;
}

/* ? Créditos del Creador */
.datos {
  margin: 10px auto 3px auto;
  text-align: center;
  color: #432c3973;
  font-family: mononoki, "Fira Code", monospace, Verdana, Geneva, Tahoma,
    sans-serif;
  font-size: 20px;
}

/* ? Logo de la empresa */
.imagen {
  height: 230px;
}

/* * Esto son los estilos de la ventana emergente que aparece cuando carga la pantalla */
.ofertas-img {
  width: 498px;
}

/* ? Texto Dónde Indica El Tiempo de la Oferta */
.modal-body {
  text-align: center;
  font-family: mononoki, "Fira Code", monospace, Verdana, Geneva, Tahoma, sans-serif;
}

/* ? Texto Principal de la Ventana */
#exampleModalLabel {
  color: #43e97b;
  font-family: mononoki, "Fira Code", monospace, Verdana, Geneva, Tahoma, sans-serif;
}